

<style>
    header{
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        height: 80vh !important;
    }
</style>



<header>
    <img src="/img/500.png" alt="">
    <a href="/" class="btn btn-dark">Go to Home</a>
    <img style="position: fixed;bottom: 0;height: 200px;right: 100px;" src="/img/arrow-down.png" alt="">
</header>