<h2>Edit Profile</h2>
<form action="/user/profile/edit" method="POST">
  <label>Name</label>
  <input type="text" name="name" value="<%= user.name %>" required />
  <label>Phone</label>
  <input type="text" name="phone" value="<%= user.phone %>" />
  <label>Date of Birth</label>
  <input type="date" name="dateOfBirth" value="<%= user.dateOfBirth ? user.dateOfBirth.toISOString().split('T')[0] : '' %>" />
  <button type="submit">Save</button>
</form>

