<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer__logo glow">
        <h1>THREADË</h1>
      </div>
      <p class="contact-info">Support: <a href="mailto:support@example.com">support@example.com</a><br>Phone: 1800-9999</p>
      <div class="footer-social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; <script>document.write(new Date().getFullYear());</script> THREADË. All rights reserved.</p>
    </div>
  </div>
</footer>
